<h1>This is my me page by applying action name selector of aspnet core feature.</h1>

<form action="/aboutus/TellMeFullName" method="get">
    <label>First Name</label>
    <input type="text" name="firstName" /><br />
    <label>Last Name</label>
    <input type="text" name="lastName" /><br />
    <input type="submit" value="Check fullname" />
</form>

<h1>I get the result by httpget @ViewBag.FullName</h1>