<form action="/aboutus/TellYourFullName" method="post">
    <label>First Name</label>
    <input type="text" name="firstName" /><br />
    <label>Last Name</label>
    <input type="text" name="lastName" /><br />
    <input type="submit" value="Check fullname" />
</form>

<h1>I get the result by httppost @ViewBag.FullName</h1>